{% extends "templates/layouts/base.njk" %}

{% block content %}
  <section class="catalog-page">
    <div class="container">
      <p class="catalog-page__eyebrow">
        Страница-заготовка
      </p>

      <h1 class="catalog-page__title">
        Каталог
      </h1>

      <p class="catalog-page__description">
        Здесь будет реализована структура каталога по макетам и техническому заданию.
      </p>
    </div>
  </section>
{% endblock %}