{% macro checkbox(
  id,
  name,
  label,
  value = "on",
  checked = false,
  disabled = false
) %}
  <label class="checkbox">
    <input
      class="checkbox__input"
      id="{{ id }}"
      name="{{ name }}"
      type="checkbox"
      value="{{ value }}"
      {% if checked %}checked{% endif %}
      {% if disabled %}disabled{% endif %}
    >

    <span class="checkbox__box" aria-hidden="true"></span>

    <span class="checkbox__text">
      {{ label }}
    </span>
  </label>
{% endmacro %}