{% extends "templates/layouts/base.njk" %}

{% set mainClass = "home-page" %}

{% block title %}
  Завод «Красный якорь» — производство цепей
{% endblock %}

{% block content %}
  {% include "components/sections/home/home-hero.njk" %}
  {% include "components/sections/home/home-about.njk" %}
  {% include "components/sections/home/home-technologies.njk" %}
  {% include "components/sections/home/home-quality.njk" %}
  {% include "components/sections/home/home-partner.njk" %}
  {% include "components/sections/home/home-catalog.njk" %}
  {% include "components/sections/home/home-purchase.njk" %}
  {% include "components/sections/home/home-questions.njk" %}
{% endblock %}