<footer class="site-footer">
  <div class="container site-footer__container">
    <p class="site-footer__copyright">
      © {{ site.name }}
    </p>

    <p class="site-footer__note">
      Демонстрационная frontend-реализация
    </p>
  </div>
</footer>