<section
  class="home-questions"
  aria-labelledby="home-questions-title"
>
  <div class="container home-questions__container">
    <div class="home-questions__heading">
      <h2
        class="home-questions__title"
        id="home-questions-title"
      >
        Остались вопросы?
      </h2>

      <p class="home-questions__description">
        Оставьте свои контактные данные, и мы свяжемся с вами.
      </p>
    </div>

    <div
      class="home-questions__form"
      data-question-form
    ></div>
  </div>
</section>