<section
  class="home-technologies"
  id="production"
  aria-labelledby="home-technologies-title"
>
  <div class="container home-technologies__container">
    <h2
      class="home-technologies__title"
      id="home-technologies-title"
    >
      Передовые технологии
    </h2>

    <ul class="home-technologies__list">
      <li class="home-technologies__item">
        <p class="home-technologies__item-title">
          Современное оборудование
        </p>
      </li>

      <li class="home-technologies__item">
        <p class="home-technologies__item-title">
          Запатентованные разработки
        </p>
      </li>

      <li class="home-technologies__item">
        <p class="home-technologies__item-caption">
          С 2022 года работает
        </p>

        <p class="home-technologies__item-title">
          Новая кузница
        </p>
      </li>

      <li class="home-technologies__item">
        <p class="home-technologies__item-title">
          3D-сканер
        </p>

        <p class="home-technologies__item-caption">
          Для проектирования и контроля качества
        </p>
      </li>
    </ul>

    <a
      class="home-technologies__link"
      href="#"
    >
      О производстве
    </a>
  </div>
</section>