<section
  class="home-quality"
  id="quality"
  aria-labelledby="home-quality-title"
>
  <div class="container home-quality__container">
    <div class="home-quality__content">
      <h2
        class="home-quality__title"
        id="home-quality-title"
      >
        Проверки на всех уровнях
      </h2>

      <ul class="home-quality__list">
        <li class="home-quality__item">
          Собственная сертифицированная лаборатория
        </li>

        <li class="home-quality__item">
          Полный комплекс испытаний
        </li>

        <li class="home-quality__item">
          Соответствие требованиям надзорных органов
        </li>
      </ul>

      <a
        class="home-quality__link"
        href="#"
      >
        Как мы проводим испытания
      </a>
    </div>

    <div
      class="home-quality__media"
      aria-hidden="true"
    ></div>
  </div>
</section>