<section
  class="home-partner"
  aria-labelledby="home-partner-title"
>
  <div class="container home-partner__container">
    <div class="home-partner__heading">
      <h2
        class="home-partner__title"
        id="home-partner-title"
      >
        Надёжный партнёр
      </h2>

      <p class="home-partner__description">
        Красный якорь располагает производственной базой, которая оснащена
        европейскими автоматическими цепеделательными линиями
      </p>
    </div>

    <ul class="home-partner__list">
      <li class="home-partner__item">
        Большой запас на складе
      </li>

      <li class="home-partner__item">
        Индивидуальное производство
      </li>

      <li class="home-partner__item">
        Отгрузка в срок
      </li>

      <li class="home-partner__item">
        Поставка любого количества
      </li>
    </ul>

    <a
      class="home-partner__link"
      href="#"
    >
      Как мы работаем
    </a>
  </div>
</section>