<section
  class="home-about"
  id="about"
  aria-labelledby="home-about-title"
>
  <div class="container home-about__container">
    <h2
      class="home-about__title"
      id="home-about-title"
    >
      О нас
    </h2>

    <div class="home-about__stat">
      <strong class="home-about__stat-value">2000</strong>

      <p class="home-about__stat-label">
        видов продукции в ассортименте
      </p>
    </div>

    <p class="home-about__description">
      Красный якорь располагает производственной базой, которая оснащена
      европейскими автоматическими цепеделательными линиями
    </p>

    <div
      class="home-about__media"
      aria-hidden="true"
    ></div>
  </div>
</section>