<section
  class="home-purchase"
  id="purchase"
  aria-labelledby="home-purchase-title"
>
  <div class="container home-purchase__container">
    <h2
      class="home-purchase__title"
      id="home-purchase-title"
    >
      Как приобрести продукцию
    </h2>

    <div
      class="home-purchase__content"
      data-home-purchase
    ></div>
  </div>
</section>