<section
  class="home-catalog"
  id="home-catalog"
  aria-labelledby="home-catalog-title"
>
  <div class="container home-catalog__container">
    <h2
      class="home-catalog__title"
      id="home-catalog-title"
    >
      Широкий ассортимент
    </h2>

    <ul class="home-catalog__list">
      <li class="home-catalog__item">
        <a
          class="home-catalog__card"
          href="#"
        >
          Якорные цепи и комплектующие
        </a>
      </li>

      <li class="home-catalog__item">
        <a
          class="home-catalog__card"
          href="#"
        >
          Цепи и комплектующие для горно-шахтного оборудования
        </a>
      </li>

      <li class="home-catalog__item">
        <a
          class="home-catalog__card"
          href="#"
        >
          Грузоподъёмные цепи
        </a>
      </li>

      <li class="home-catalog__item">
        <a
          class="home-catalog__card"
          href="#"
        >
          Цепи и комплектующие для цементной промышленности
        </a>
      </li>

      <li class="home-catalog__item">
        <a
          class="home-catalog__card"
          href="#"
        >
          Цепи общего назначения
        </a>
      </li>

      <li class="home-catalog__item">
        <a
          class="home-catalog__card"
          href="#"
        >
          Несерийная продукция
        </a>
      </li>
    </ul>
  </div>
</section>