<section
  class="home-about"
  id="about"
  aria-labelledby="home-about-title"
>
  <div class="container home-about__container">
    <h2
      class="home-about__title"
      id="home-about-title"
    >
      {{ about.title }}
    </h2>

    <div class="home-about__stat">
      <strong class="home-about__stat-value">
        {{ about.value }}
      </strong>

      <p class="home-about__stat-label">
        {{ about.label }}
      </p>
    </div>

    

    <p class="home-about__description">
      {{ about.description }}
    </p>
  </div>
</section>