@font-face {
  font-family: 'PF DIN Text Cond Pro';
  src: url('../../assets/fonts/pf-din-text-cond-pro-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PF DIN Text Cond Pro';
  src: url('../../assets/fonts/pf-din-text-cond-pro-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Bluescreens';
  src: url('../../assets/fonts/tt-bluescreens-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}