h1,
h2,
h3,
h4 {
  font-family: var(--font-family-heading);
  line-height: var(--line-height-heading);
  text-wrap: balance;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

p {
  text-wrap: pretty;
}
